<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18809117513-vuf8t9sb83sl93d95ij0apmtvj33g3qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18809117513-vuf8t9sb83sl93d95ij0apmtvj33g3qi</string>
	<key>API_KEY</key>
	<string>AIzaSyDNDUfhaqPMA39rNsYKOxjKIkN3_zrV8u0</string>
	<key>GCM_SENDER_ID</key>
	<string>18809117513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.Maniq</string>
	<key>PROJECT_ID</key>
	<string>maniq-3ce98</string>
	<key>STORAGE_BUCKET</key>
	<string>maniq-3ce98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18809117513:ios:b0360503b50459e8699898</string>
	<key>DATABASE_URL</key>
	<string>https://maniq-3ce98.firebaseio.com</string>
</dict>
</plist>